.about-us {
  display: flex;
}

.about-us-list {
  @extend %list;
  display: none;
  margin-right: 64px;

  // @media screen and (min-width: 768px) {
  //   display: block;
  // }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-us-item {
  @media screen and (man-width: 1999px) {
    &:first-child {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 30px;
    }
  }
}

.about-us-description {
  width: 500px;
}

.about-us-title {
  @include marginTopBottom(0, 20px);

  color: $title-text-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about-us-text {
  @include marginTopBottom(0, 20px);

  font-size: 18px;
  line-height: 1.67;
}

.about-us-paragraph {
  @include marginTopBottom(0, 20px);
  line-height: 1.86;
}

.secondary-btn {
  @extend %btn;

  color: $title-text-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-text-color;
  }
}
