.page-footer {
  background-color: $footer-bg-color;
}

// .footer-wrap {
//   padding: 84px 31px;
//   text-align: center;
// }
.footer-form {
  padding: 84px 31px;
  text-align: center;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}

.form-group {
  @include marginTopBottom(0, 44px);
}

.form-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid $footer-formtext-color;
  background-color: transparent;

  color: $footer-formtext-color;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.01em;

  &:hover,
  &:focus {
    border-bottom: 1px solid $white-text-color;
    cursor: url(./images/vector.svg);
  }
}

.form-textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid $footer-formtext-color;

  color: $footer-formtext-color;
  background-color: transparent;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.01em;

  &:hover {
    border-bottom: 1px solid $white-text-color;
  }
}

.contact-link {
  @extend %link;
  color: $secondary-text-color;
}

.footer-address {
  width: 100%;
  background-image: url('../images/desktop/footer-contact.png');
  background-color: rgba(25, 28, 38, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 84px 40px;
  text-align: center;

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;

  & > .section-title {
    @include marginTopBottom(0, 40px);
  }
}

.address-list {
  @extend %list;
  @include marginTopBottom(0, 44px);
}

.address-item:not(:last-child) {
  @include marginTopBottom(0, 20px);
}

.work-time-title {
  @include marginTopBottom(0, 20px);

  color: $white-text-color;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.67;
  letter-spacing: 0.1em;
}

.work-time {
  @include marginTopBottom(0, 0);

  text-align: center;
  color: $secondary-text-color;

  font-size: 18px;
  line-height: 1.67;
}

.footer-bottom {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
}

.copyright {
  @include marginTopBottom(0, 0);
  padding-top: 27px;
  margin-right: 21px;

  color: $secondary-text-color;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
