.our-team-section {
  background-color: $secondary-bg-color;
}

.our-team-list {
  @extend %list;
}

.our-team-item {
  text-align: center;
}

.name-title {
  @include MarginTopBottom(0, 0);

  color: $title-text-color;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.taem-position {
  @include MarginTopBottom(0, 0);

  color: $accent-color;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.social-list {
  @extend %list;
}

.social-link {
  @extend %social-Link;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
}
