.our-team-section {
  background-color: $secondary-bg-color;
}

.our-team-text {
  @media screen and (min-width: 768px) {
    margin-left: 117px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}
.our-team-list {
  @extend %list;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.our-team-item {
  text-align: center;

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}
.our-team-img {
  padding-bottom: 30px;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.name-title {
  @include marginTopBottom(0, 8px);

  color: $title-text-color;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
}

.taem-position {
  @include marginTopBottom(0, 30px);

  color: $accent-color;

  line-height: 1.36;
}

.social-list {
  @extend %list;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  @extend %social-Link;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
}
