.our-team-section {
  background-color: $secondary-bg-color;
}

.our-team-list {
  @extend %list;
}

.our-team-item {
  text-align: center;
}
.image {
  display: block;
  padding-bottom: 30px;
}
.name-title {
  @include marginTopBottom(0, 8px);

  color: $title-text-color;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
}

.taem-position {
  @include marginTopBottom(0, 30px);

  color: $accent-color;

  line-height: 1.36;
}

.social-list {
  @extend %list;

  display: flex;
  padding-bottom: 64px;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  @extend %social-Link;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
}
