.header-wrap {
  position: relative;
  min-height: 680px;
}
.page-header {
  padding-top: 40px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.social-block {
  position: absolute;
  background-color: #fff;
  // width: 155px;
  top: 0;
  left: 0;
  z-index: 1;

  @media screen and (min-width: 768px) {
    height: 680px;
    width: calc(159px + (100vw - 768px) / 2);
  }

  @media screen and (min-width: 1200px) {
    height: 680px;
    width: calc(155px + (100vw - 1200px) / 2);
  }
}

.social-block-list {
  @extend %list;
  display: flex;
  position: absolute;
  bottom: calc(80px + (100vw - 1200px) / 2);
  transform: translateX(40px) rotateZ(-90deg);

  &::before {
    @extend %centered-line;
  }
}

.social-block-item:first-child {
  margin-right: 40px;
}

.social-block-link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo,
.logo-inverse {
  position: relative;
  top: -9px;

  display: inline-block;
  z-index: 2;

  @media screen and (min-width: 768px) {
    left: 8px;
  }
  @media screen and (min-width: 1200px) {
    left: 0;
    padding-right: 100px;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.logo-inverse {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    // width: 768px;
    padding-bottom: 156px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    align-items: center;
    padding-bottom: 206px;
  }
}
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    height: 40px;
    margin-right: 47px;
  }
  @media screen and (min-width: 1200px) {
    
    margin-right: 0;
  }
}

.site-nav-list {
  @extend %list;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: $white-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav-item {
  z-index: 3;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav-link {
  @include paddingTopBottom(10px, 10px);
}
.recording-list {
  @extend %list;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;

  z-index: 3;

  @media screen and (max-width: 1199px) {
    flex-direction: column-reverse;
  }
}

.recording-item {
  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 64px;
    }
  }
  @media screen and (max-width: 1199px) {
    &:last-child {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 40px;
    }
  }
}

.recording-tel {
  display: block;
  text-decoration: none;

  color: $white-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.greeting {
  position: relative;
  z-index: 4;
  pointer-events: none;

  @media screen and (max-width: 767px) {
    min-width: 306px;
  }
  @media screen and (min-width: 768px) {
    max-width: 355px;
    left: 250px;
  }
  @media screen and (min-width: 1200px) {
    left: 245px;
    max-width: 500px;
  }
}

.greeting-title {
  @include marginTopBottom(0, 20px);
  font-family: Raleway;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $white-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.greeting-text {
  @include marginTopBottom(0, 0);
  font-size: 16px;
  line-height: 1.67;

  color: $secondary-text-color;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
