.header-wrap {
  position: relative;
  min-height: 680px;
}
.page-header {
  padding-top: 40px;
}

.row {
  display: flex;
}

.social-block {
  position: absolute;
  background-color: #fff;
  // width: 155px;
  height: 680px;
  width: calc(155px + (100vw - 1200px) / 2);
  top: 0;
  left: 0;
  z-index: 1;
}

.social-block-list {
  @extend %list;
  display: flex;
  position: absolute;
  bottom: calc(80px + (100vw - 1280px) / 2);
  transform: translateX(40px) rotateZ(-90deg);

  &::before {
    @extend %centered-line;
  }
}

.social-block-item:first-child {
  margin-right: 40px;
}

.social-block-link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo {
  position: relative;
  top: -9px;
  padding-right: 112px;
  display: inline-block;
  z-index: 2;
  left: 40px;
  @media screen and (min-width: 768px) {
    padding-right: 0;
  }
}

.menu {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding-bottom: 156px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    align-items: center;
    padding-bottom: 206px;
  }
}
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    height: 40px;
  }
}

.site-nav-list {
  @extend %list;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;

  color: $white-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav-item {
  &:not(:last-child) {
    margin-right: 40px;
  }

  z-index: 3;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.recording-list {
  @extend %list;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;

  z-index: 3;

  @media screen and (max-width: 1199px) {
    flex-direction: column-reverse;
  }
}

.recording-item {
  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 64px;
    }
  }
  @media screen and (max-width: 1199px) {
    &:last-child {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 40px;
    }
  }
}

.recording-tel {
  display: block;
  text-decoration: none;

  color: $white-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.greeting {
  position: relative;
  left: 245px;
  max-width: 500px;

  z-index: 4;
}

.greeting-title {
  @include marginTopBottom(0, 20px);
  font-family: Raleway;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: $white-text-color;
}

.greeting-text {
  @include marginTopBottom(0, 0);
  font-size: 18px;
  line-height: 1.67;

  color: $secondary-text-color;
}
