.logo {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 69px;
  height: 56px;

  fill: $white-text-color;
}

.header-wrapper {
  position: relative;
  min-height: 580px;
}

.page-header {
  padding-top: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting-content {
  position: absolute;
  top: 208px;
  max-width: 306px;
  pointer-events: none;
}

.greeting-title {
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $white-text-color;
}

.greeting-text {
  color: $transparent-text-color;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
