.page-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  @include marginTopBottom(0, 20px);

  color: $white-text-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.hero-text {
  @include marginTopBottom(0, 0);

  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.6;
}
