.section {
  @include paddingTopBottom(84px, 84px);
}

.section-subtitle {
  @include marginTopBottom(0, 20px);
  color: $title-text-color;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &::before {
    @extend %centered-line;
  }
  &.transparent-color {
    color: $transparent-text-color;
  }
}

.section-title {
  @include marginTopBottom(0, 44px);

  color: $title-text-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  &.inverse {
    color: $white-text-color;
  }
}

.link {
  @extend %link;
}

.social-link-item {
  @extend %list;

  &:before {
    content: '';
    display: inline-flex;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    color: $title-text-color;
  }
}
