.section {
  @include PaddingTopBottom(84px, 84px);
}

.section-subtitle {
  @include MarginTopBottom(0, 0);

  color: $title-text-color;
}

.section-title {
  @include MarginTopBottom(0, 0);

  color: $title-text-color;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
