.section-services {
  background-image: url('../images/desktop/services-prices.png');
  background-color: rgba(17, 19, 25, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.serices-prices-wrap {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  @media screen and (max-width: 767px) {
    padding: 30px;
  }

  @media screen and (max-width: 1199px) {
    @include marginTopBottom(0, 50px);
    padding: 30px 40px;
  }

  @media screen and (min-width: 1200px) {
    @include marginTopBottom(0, 62px);
    display: flex;
  }
}

.services-prices-left,
.services-prices-right {
  @extend %list;
  flex-grow: 1;
  // или
  // width: 100%;

  white-space: nowrap;

  @media screen and (min-width: 1200px) {
    padding: 30px 40px;
  }
}

.services-prices-left {
  @media screen and (max-width: 1199px) {
    padding-bottom: 20px;
  }
}

.services-prices-right {
  // @media screen and (min-width: 768px) {
  //   padding-top: 0;
  // }
  @media screen and (min-width: 1200px) {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services-prices-item,
.services-prices2-item {
  display: flex;
  align-items: baseline;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services-text,
.prices-text {
  @include marginTopBottom(0, 0);

  color: $secondary-text-color;

  font-size: 18px;
  line-height: 1.67;
}

.services-text {
  padding-right: 6px;
}
.prices-text {
  padding-left: 6px;
}

.border-bottom {
  width: 100%;
  border-bottom: 1px solid $border-bottom-color;
}

.services-btn-wrap {
  text-align: center;
}
.primary-btn {
  @extend %btn;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
