body {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.89;
  letter-spacing: 0.02em;

  &.modal-open {
    overflow: hidden;
  }
}
