body {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: OpenSans, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  &.modal-open {
    overflow: hidden;
  }
}
