body {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.89;
  letter-spacing: 0.02em;

  scroll-behavior: smooth;

  min-width: 320px;

  &.modal-open {
    overflow: hidden;
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}
