@mixin paddingTopBottom($tvalue, $bvalue) {
  padding-top: $tvalue;
  padding-bottom: $bvalue;
}

@mixin marginTopBottom($tvalue, $bvalue) {
  margin-top: $tvalue;
  margin-bottom: $bvalue;
}
// @mixin transition ($prop, $time, $cubic, $delay){
//   $prop: all;
//   $time: 250ms;
//   $cubic: cubic-bezier(0.42, 0, 1, 1)
//   $delay: 250ms;
// }
